body { margin:0;background:url(img/bg.jpg);overflow:hidden;-webkit-user-select:none;user-select:none}

ul { background: no-repeat center/contain;position:absolute;transition:ease-out transform;margin:auto;left:0;right:0;height: 80%; width: 80vh;bottom:0;top:50px;
}
header {z-index:5;background-color:#3f51B5;width:100%;height:50px;box-shadow:0 0 4.52px rgba(0,0,0,1);position:fixed;}
header div { margin-top:2.5px;display:inline-block;background:no-repeat center/cover;width:50px;height:50px; }

@media screen and (orientation:portrait) { ul{ width:95% !important; height:95vw !important }}
footer {
    width: 100%;
    position: fixed;
    bottom: 5px; left:0;
}
footer a img {
    height: 25px;
	margin-left: 5px;
}